@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>In this project we will expplore some of the advangates of Oauth and other securety elements </p>
    <p>A user should be able to create, edit, delete and look at ToDo Items, as if it were the users own private ToDo list</p>
    <p> </p>
</div>
